.right {
    background-color: pink;
    width: 300px;
    height: 300px;
    transition: transform 2s;
}

.down {
    background-color: aquamarine;
    width: 300px;
    height: 300px;
    transition: transform 2s;
}

.right:hover {
    /*transform: function()*/
    transform: translateX(100px);
}

.down:hover {
    transform: translateY(100px);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}