.container {
    width: 500px;
    height: 500px;
    background: url(https://pablomonteserin.com/res/html5/ex/degradado-multiple/mundo.svg),
        url(https://pablomonteserin.com/res/html5/ex/degradado-multiple/tijeras.svg) no-repeat bottom right, radial-gradient(ellipse at center, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
    background-size: 50% 50%, auto auto, auto auto;
}