body {
    background-color: #d3d3d3;
}

h1 {
    text-align: center;
}

.p1 {
    background-color: #dbc9a6;
    border: 2px solid #9b8f76;
    padding: 10px;
    text-align: center;
}

.container {
    position: relative;
    height: 600px;

}

.box {
    width: 50%;
    height: 50%;
    position: absolute;
}

.uno {
    background-color: red;
    border: 4px solid #EBEBA5;
    left: 0%;

}

.dos {
    background-color: green;
    top: 0%;
    border: 4px solid #98C4C4;
    right: 0%;

}

.tres {
    background-color: blue;
    top: 50%;
    border: 4px solid #64B064;
    left: 0%;

}

.cuatro {
    background-color: yellow;
    top: 50%;
    border: 4px solid #BAA7BA;
    right: 0%;

}

.cinco {
    background: #FFB4B4;
    border: 4px solid #865F5F;
    top: 25%;
    left: 25%
}

.box:hover {
    z-index: 2;
}

/* z-index: num mas alto se ve delante. 
Position absolute: puedes mover el elemento por toda la pag*/