.barra {
    width: 500px;
    height: 30px;
    border: 2px solid black;
}

.vida {
    width: 0%;
    height: 100%;
    background: red url(corazon-mask.png);
    animation: move 1s forwards;
    background-size: auto 100%;
    /* tamaño imagen de fondo */
}

@keyframes move {
    from {
        width: 0;
    }

    to {
        width: 55%;
    }
}